In [ ]:
Q1.
a="rohit"
b=[23,'divya',45]
c=45.47
d=(2,5,'student')

In [ ]:
Q2.
ans-blank,str,list,num

In [ ]:
Q3.
/-give quotient of two numbers upto decimal places. for ex-9/3=3
%-give remainder of two numbers.for ex-5/4=1
//-give quotient but only integer places.for ex-10//3=3
**-it gives exponential of one on another number.for ex-3**3=27

In [14]:
Q4.
l=['rohit',23,50.25,False,(23,'divya'),'student',99,(2+3j),68.88,'books']
for i in l:
    print(i)
    print(type(i))

rohit
<class 'str'>
23
<class 'int'>
50.25
<class 'float'>
False
<class 'bool'>
(23, 'divya')
<class 'tuple'>
student
<class 'str'>
99
<class 'int'>
(2+3j)
<class 'complex'>
68.88
<class 'float'>
books
<class 'str'>

In [ ]:
Q5.
a=int(input())
b=int(input())
c=0
if a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b 
else:
    print("not divisible")

In [8]:
Q6.
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if(i%3==0):
        l1.append(i)
    else:
        l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [3]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23]

In [ ]:
Q7.
mutable data type-those data types in which we modify the already existing values of the data types(such as list,dictionary).
immutable data type-those data types whose values cannot be changed once initialized(such as int,frozen set,tuple).

In [1]:
# example of mutable data type
l=[2,5,3+4j,True,'student']
l[2]='rohit'
l[4]='books'
l

[2, 5, 'rohit', True, 'books']

In [2]:
#example of immutable data type
a=(0,1,2,3)
a[0]=56
print(a)

TypeError: 'tuple' object does not support item assignment